.main1 {
    border: 2px solid black;
    border-radius: 2px;
    padding: 10px;
    margin: 10px;
    height: 100px;
    background-color: aqua;
}

.help {
    font-size: 10px;
    font-weight: bold;
    color: black;
}

.help1 {
    font-size: 10px;
    font-weight: bold;
    color: blue;
}

.green {
    color: green;
}

.red {
    color: red;
}